# [Assignment #2: NPFL067 Statistical NLP II](http://ufal.mff.cuni.cz/~hajic/courses/npfl067/assign2.html)

## Words and The Company They Keep

### Author: Dan Kondratyuk

### March 2, 2018

---

This Python notebook examines 

Code and explanation of results is fully viewable within this webpage.

## Files

- [index.html](./index.html) - Contains all veiwable code and a summary of results
- [README.md](./README.md) - Instructions on how to run the code with Python
- [nlp-assignment-2.ipynb](./nlp-assignment-1.ipynb) - Jupyter notebook where code can be run
- [requirements.txt](./requirements.txt) - Required python packages for running

## 1. Best Friends

#### Problem Statement
>  In this task you will do a simple exercise to find out the best word association pairs using the pointwise mutual information method.

> First, you will have to prepare the data: take the same texts as in the previous assignment, i.e.

> `TEXTEN1.txt` and `TEXTCZ1.txt`

> (For this part of Assignment 2, there is no need to split the data in any way.)

> Compute the pointwise mutual information for all the possible word pairs appearing consecutively in the data, **disregarding pairs in which one or both words appear less than 10 times in the corpus**, and sort the results from the best to the worst (did you get any negative values? Why?) Tabulate the results, and show the best 20 pairs for both data sets.

> Do the same now but for distant words, i.e. words which are at least 1 word apart, but not farther than 50 words (both directions). Again, tabulate the results, and show the best 20 pairs for both data sets.

### Process Text

In [1]:
# Import Python packages
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

import nltk
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import collections as c
from tqdm import tqdm
from scipy.special import comb

# Configure Plots
plt.rcParams['lines.linewidth'] = 4
pd.set_option('max_colwidth', 100)

In [2]:
np.random.seed(200) # Set a seed so that this notebook has the same output each time

In [3]:
def open_text(filename):
    """Reads a text line by line, applies light preprocessing, and returns an array of words"""
    with open(filename, encoding='iso-8859-2') as f:
        content = f.readlines()
    
    preprocess = lambda word: word.strip()
    
    return np.array([preprocess(word) for word in content])

In [4]:
# Read the texts into memory
english = './TEXTEN1.txt'
czech = './TEXTCZ1.txt'

words_en = open_text(english)
words_cz = open_text(czech)

In [5]:
class LanguageModel:
    """Counts words and calculates the probabilities of a language model"""
    
    def __init__(self, words, min_words=10):
        self.min_words = min_words
        
        # Unigrams
        self.unigrams = words
        self.unigram_set = list(set(self.unigrams))
        self.total_unigram_count = len(self.unigrams)
        self.unigram_dist = c.Counter(self.unigrams)
        
        # Bigrams
        self.bigrams = list(nltk.bigrams(words))
        self.bigram_set = list(set(self.bigrams))
        self.total_bigram_count = len(self.bigrams)
        self.bigram_dist = c.Counter(self.bigrams)
    
    def p_unigram(self, w):
        """Calculates the probability a unigram appears in the distribution"""
        return self.unigram_dist[w] / self.total_unigram_count
    
    def p_bigram(self, wprev, w):
        """Calculates the probability a bigram appears in the distribution"""
        return self.bigram_dist[(wprev, w)] / self.total_bigram_count
    
    def pointwise_mi(self, wprev, w, p_bigram_func=None):
        """Calculates the pointwise mutual information in a word pair"""
        p_bigram_func = self.p_bigram if p_bigram_func is None else p_bigram_func
        return np.log2(p_bigram_func(wprev, w) / self.p_unigram(wprev) / self.p_unigram(w))

In [6]:
lm_en = LanguageModel(words_en)
lm_cz = LanguageModel(words_cz)

In [7]:
def mutual_information(lm):
    # Obtain all word pairs in the word list, disregarding pairs in which one or both words appear less than 10 times in the corpus  
    pairs = [pair for pair in lm.bigram_set
             if lm.unigram_dist[pair[0]] >= lm.min_words 
             and lm.unigram_dist[pair[1]] >= lm.min_words]

    mi = [(' '.join(pair), lm.pointwise_mi(*pair)) for pair in pairs]
    return pd.DataFrame(mi, columns=['pair', 'mutual_information'])

In [8]:
mi_en = mutual_information(lm_en).sort_values(by='mutual_information', ascending=False)
mi_cz = mutual_information(lm_cz).sort_values(by='mutual_information', ascending=False)

In [9]:
mi_en[:20]

                        pair  mutual_information
38228               La Plata           14.169370
12595               Asa Gray           14.031867
32801           Fritz Muller           13.362016
4874             worth while           13.332869
16951          faced tumbler           13.262480
8441         lowly organised           13.216899
39180      Malay Archipelago           13.110477
37550        shoulder stripe           13.053893
11072          Great Britain           12.914557
23312          United States           12.847442
1556         English carrier           12.525514
29905      specially endowed           12.401817
13280                  Sir J           12.377364
24556           branched off           12.377364
37831            de Candolle           12.362016
37201       mental qualities           12.362016
21708  Galapagos Archipelago           12.344942
38499             red clover           12.323880
24344     self fertilisation           12.316928
5723     systematic affinity           12.251833

In [10]:
mi_cz[:20]

                          pair  mutual_information
16072             Hamburger SV           14.288950
6116               Los Angeles           14.062442
7463            Johna Newcomba           13.762882
9150             Č. Budějovice           13.633599
11470                série ATP           13.468968
22149          turnajové série           13.434411
18639              Tomáš Ježek           13.428981
24814            Lidové noviny           13.329922
7016            Lidových novin           13.271028
16402         veřejného mínění           13.062442
21227            teplota minus           12.981522
28993           jaderné zbraně           12.955527
5325           Ján Čarnogurský           12.955527
18079             Milan Máčala           12.897811
35376            lidských práv           12.862877
5285           společném státě           12.708434
22146    akciových společností           12.692492
33575               Pohár UEFA           12.625378
10174  privatizačních projektů           12.615677
37111             George Bushe           12.603010

In [11]:
mi_en[:-5:-1]

        pair  mutual_information
35197  the ,           -8.790285
16826  . the           -8.407455
9831    of .           -7.901950
19796   . of           -7.901950

In [12]:
def mutual_information_dist(lm):
    def mi_step(distance):
        # Get all pairs in the word list a certain distance apart
        pair_list = list(zip(lm.unigrams, lm.unigrams[distance+1:]))
        dist = c.Counter(pair_list)
    
        # Obtain all word pairs in the word list, disregarding pairs in which one or both words appear less than 10 times in the corpus  
        pairs = [pair for pair in list(set(pair_list))
                 if lm.unigram_dist[pair[0]] >= lm.min_words 
                 and lm.unigram_dist[pair[1]] >= lm.min_words]
        
        p_bigram = lambda wprev, w: dist[(wprev, w)] / lm.total_bigram_count
        
        yield ((distance, wprev, w, lm.pointwise_mi(wprev, w, p_bigram)) for wprev,w in pairs)
    
    max_distance = 50
    results = [m for distance in tqdm(range(1, max_distance+1)) for mi in mi_step(distance) for m in mi]
        
    return pd.DataFrame(results, columns=['distance', 'word0', 'word1', 'mutual_information'])

In [13]:
mi_dist_en = mutual_information_dist(lm_en).sort_values(by='mutual_information', ascending=False)
mi_dist_cz = mutual_information_dist(lm_cz).sort_values(by='mutual_information', ascending=False)

100%|██████████| 50/50 [00:23<00:00,  2.14it/s]
100%|██████████| 50/50 [00:23<00:00,  2.16it/s]

In [14]:
mi_dist_en[:20]

        distance         word0        word1  mutual_information
96564          2      survival      fittest           13.754333
1203           1     dimorphic   trimorphic           13.353454
95150          2          Alph     Candolle           13.236485
153243         3             H       Watson           13.169370
107318         2           Old       Worlds           13.053893
5142           1          Alph           de           13.053893
28581          1             E       Forbes           12.946978
101355         2   unimportant      welfare           12.879864
146653         3       carrier        faced           12.695439
41117          1         rarer        rarer           12.525514
29189          1       eastern      western           12.468931
10590          1        plates       baleen           12.468931
9092           1        plains           La           12.432405
35005          1      supplant  exterminate           12.368902
17712          1  oscillations        level           12.362016
25689          1             F    sanguinea           12.303872
50750          1    analogical     adaptive           12.246538
435662         6    incidental      systems           12.205896
32340          1        beasts         prey           12.179424
139727         2        plains        Plata           12.169370

In [15]:
mi_dist_cz[:20]

         distance        word0        word1  mutual_information
905             1          ODÚ          VPN           14.119025
19049           1    turnajové          ATP           13.614983
22697           1  Mistrovství    turnajové           13.410365
397633          8        výher        výher           13.318097
2008            1        Čechy      Slováky           13.303450
121349          3  Mistrovství          ATP           13.203914
1027821        19     prohraná    dvojchyby           13.172205
76106           2      soužití      Slováků           13.062442
660428         13     prohraná          esa           13.051911
386951          8          III           IV           13.025916
94818           2  Mistrovství        série           13.023342
210304          5          esa    dvojchyby           12.987781
1326748        25    Nastaseho     Newcomba           12.981522
2137877        39     Bělehrad      Benfica           12.981522
3078            1     uchazečů   zaměstnání           12.955527
301612          6     prohraná        čisté           12.955527
44378           1     Sdružení  podnikatelů           12.855991
612539         12        čisté    dvojchyby           12.824282
164142          4     pražském      teplota           12.740514
357141          7      teplota      teplota           12.703988

## 2. Best Friends

#### Word Classes

> **The Data**

> Get `TEXTEN1.ptg`, `TEXTCZ1.ptg`. These are your data. They are almost the same as the .txt data you have used so far, except they now contain the part of speech tags in the following form:

> `rady/NNFS2-----A----`  
`,/Z:-------------`

> where the tag is separated from the word by a slash ('/'). Be careful: the tags might contain everything (including slashes, dollar signs and other weird characters). It is guaranteed however that there is no slash-word.

> Similarly for the English texts (except the tags are shorter of course).

> **The Task**

> Compute a full class hierarchy of **words** using the first 8,000 words of those data, and only for words occurring 10 times or more (use the same setting for both languages). Ignore the other words for building the classes, but keep them in the data for the bigram counts. For details on the algorithm, use the Brown et al. paper distributed in the class; some formulas are wrong, however, so please see the corrections on the web (Class 12, formulas for Trick \#4). Note the history of the merges, and attach it to your homework. Now run the same algorithm again, but stop when reaching 15 classes. Print out all the members of your 15 classes and attach them too.

> **Hints:**

> The initial mutual information is (English, words, limit 8000):

> `4.99726326162518` (if you add one extra word at the beginning of the data)  
> `4.99633675507535` (if you use the data as they are and are carefull at the beginning and end).

> NB: the above numbers are finally confirmed from an independent source :-).

> The first 5 merges you get on the English data should be:

> `case subject`  
> `cannot may`  
> `individuals structure`  
> `It there`  
> `even less`  

> The loss of Mutual Information when merging the words "case" and "subject":

> Minimal loss: `0.00219656653357569` for `case+subject`

In [16]:
from brown_cluster import LmCluster

In [17]:
def open_text(filename):
    """Reads a text line by line, applies light preprocessing, and returns an array of words and tags"""
    with open(filename, encoding='iso-8859-2') as f:
        content = f.readlines()
    
    preprocess = lambda word: word.strip().rsplit('/', 1)
    
    return np.array([preprocess(word) for word in content])

In [18]:
# Read the texts into memory
english = './TEXTEN1.ptg'
czech = './TEXTCZ1.ptg'

words_en, tags_en = zip(*open_text(english))
words_cz, tags_cz = zip(*open_text(czech))

In [19]:
def mutual_information_total(lm):
    pairs = lm.bigram_set
    return np.sum([lm.p_bigram(*pair) * lm.pointwise_mi(*pair) for pair in pairs])

mutual_information_total(LanguageModel(words_en[:8000]))

4.996416777233102

In [20]:
cluster_en = LmCluster(words_en[:8000])
cluster_cz = LmCluster(words_cz[:8000])

2018-03-03 17:02:35,382	8000 word tokens were processed.
2018-03-03 17:02:35,382	Starting classes: 112
2018-03-03 17:02:35,383	initializing tables
100%|██████████| 6216/6216 [00:01<00:00, 4453.94pairs/s]
100%|██████████| 111/111 [00:02<00:00, 49.59class/s]
2018-03-03 17:02:39,037	8000 word tokens were processed.
2018-03-03 17:02:39,037	Starting classes: 61
2018-03-03 17:02:39,038	initializing tables
100%|██████████| 1830/1830 [00:00<00:00, 8066.54pairs/s]
100%|██████████| 60/60 [00:00<00:00, 149.58class/s]

In [41]:
def history(cluster):
    return pd.DataFrame(cluster.cluster_history, columns=['prev word', 'word', 'cluster id'])

In [42]:
history(cluster_en)[:20]

      prev word       word  cluster id
0           may     cannot        1662
1       subject       case        1663
2             )       1663        1664
3            in    between        1665
4         short     slight        1666
5             (       1666        1667
6            an         my        1668
7          1667       1668        1669
8   individuals  structure        1670
9          1664       1670        1671
10            :        how        1672
11          can       must        1673
12         1662       1673        1674
13          its    certain        1675
14         even       less        1676
15         1672       1676        1677
16         1669       1675        1678
17      believe      shall        1679
18          see       1679        1680
19        these      great        1681

In [23]:
history(cluster_cz)[:20]

   prev word   word  cluster id
0        při      ?        3685
1         od   mezi        3686
2       3685   3686        3687
3         po   před        3688
4       3687   3688        3689
5         za   musí        3690
6       však   bude        3691
7        byl     si        3692
8         ze   3692        3693
9       3691   3693        3694
10      3689   3690        3695
11        do   jako        3696
12      3695   3696        3697
13      jsou  státu        3698
14     pouze   3698        3699
15     které    aby        3700
16     budou   3699        3701
17         z      u        3702
18        ve   bylo        3703
19      3697   3703        3704

In [24]:
cluster_en_15 = LmCluster(words_en[:8000], cluster_cutoff=15)
cluster_cz_15 = LmCluster(words_cz[:8000], cluster_cutoff=15)

2018-03-03 17:02:39,737	8000 word tokens were processed.
2018-03-03 17:02:39,738	Starting classes: 112
2018-03-03 17:02:39,738	initializing tables
100%|██████████| 6216/6216 [00:01<00:00, 4508.62pairs/s]
100%|██████████| 97/97 [00:02<00:00, 44.01class/s]
2018-03-03 17:02:43,341	8000 word tokens were processed.
2018-03-03 17:02:43,342	Starting classes: 61
2018-03-03 17:02:43,342	initializing tables
100%|██████████| 1830/1830 [00:00<00:00, 8011.53pairs/s]
100%|██████████| 46/46 [00:00<00:00, 119.97class/s]

In [25]:
def get_classes(cluster):
    classes = c.defaultdict(list)

    for c0 in cluster.classes:
        for w in cluster.vocab:
            cur_cluster = cluster.vocab[w]
            while cur_cluster in cluster.cluster_parents:
                cur_cluster = cluster.cluster_parents[cur_cluster]
            if c0 == cur_cluster:
                classes[c0].append(w)

    return pd.DataFrame([(x,classes[x]) for x in classes], columns=['class', 'words'])

In [26]:
get_classes(cluster_en_15)

,class,words
0,0,"[,]"
1,1,[the]
2,2,[of]
3,3,[and]
4,4,[.]
5,8,[a]
6,10,[I]
7,12,[as]
8,13,[be]
9,14,[have]
10,15,[which]
11,37,[The]
12,1717,"[conditions, breeds, nature, races, state, individuals, structure, subject, variation, ), case, ..."
13,1737,"[to, for, several, may, will, would, could, can, very, must, cannot]"
14,1758,"[in, that, ;, is, from, are, or, on, it, species, by, this, has, been, not, with, some, we, same..."

In [27]:
get_classes(cluster_cz_15)

,class,words
0,0,[.]
1,1,"[,]"
2,2,[a]
3,3,[v]
4,4,[se]
5,6,[o]
6,7,"[""]"
7,9,[že]
8,14,[je]
9,15,[i]
10,19,[by]
11,20,[to]
12,3720,"[:, které, včera, aby, budou, být, jsou, už, pouze, J, státu, OKD]"
13,3727,"[-, ), ČSFR, ale, který, zákona, NATO, &slash;, jeho]"
14,3730,"[na, s, (, z, do, V, k, ve, po, pro, od, za, u, Na, při, ze, však, jako, byl, bude, ?, před, mez..."

## 3. Tag Classes

> Use the same original data as above, but this time, you will compute the classes for tags (the strings after slashes). Compute tag classes for all tags appearing 5 times or more in the data. Use as much data as time allows. You will be graded relative to the other student's results. Again, note the full history of merges, and attach it to your homework. Pick three interesting classes as the algorithm goes (English data only; Czech optional), and comment on them (why you think you see those tags there together (or not), etc.).

In [40]:
cluster_en_tag = LmCluster(tags_en, word_cutoff=5)
cluster_cz_tag = LmCluster(tags_cz[:len(tags_cz)], word_cutoff=5)

2018-03-03 17:12:23,725	221098 word tokens were processed.
2018-03-03 17:12:23,725	Starting classes: 36
2018-03-03 17:12:23,725	initializing tables
100%|██████████| 630/630 [00:00<00:00, 7894.11pairs/s]
100%|██████████| 35/35 [00:00<00:00, 309.61class/s]
2018-03-03 17:12:24,016	224538 word tokens were processed.
2018-03-03 17:12:24,016	Starting classes: 677
2018-03-03 17:12:24,017	initializing tables
100%|██████████| 228826/228826 [07:17<00:00, 522.90pairs/s]
100%|██████████| 676/676 [10:31<00:00,  1.07class/s]

In [43]:
def history(cluster):
    return pd.DataFrame(cluster.cluster_history, columns=['prev tag', 'tag', 'cluster id'])

In [44]:
history(cluster_en_tag)[:20]

   prev tag   tag  cluster id
0       RBR   WP$          36
1       JJS    36          37
2       SYM  NNPS          38
3       PRP    EX          39
4        NN    38          40
5        37    40          41
6        FW    41          42
7        RB     "          43
8         (    42          44
9       NNS    WP          45
10      VBN   VBD          46
11      RBS    44          47
12       45    47          48
13       IN   WRB          49
14       CD   JJR          50
15       43    50          51
16      VBG   WDT          52
17       51    52          53
18       46    53          54
19       48    54          55

In [45]:
history(cluster_cz_tag)[:20]

           prev tag              tag  cluster id
0   AAIP6----3A----  CrIP6----------        1015
1   J^------------8  NNNXX-----A---8        1016
2   PSFS6-P1-------  AAFS6----2A----        1017
3   AGFS7-----A----  PSFS7-P1-------        1018
4   Vi-P---1--N----  PJXP2----------        1019
5   AAIP3----3A----  AGIP3-----A----        1020
6   PZXP6----------  PSXP6-P1-------        1021
7   PLXP6----------  AGFP6-----A----        1022
8   AAFP7----2A----  AAFP7----1N----        1023
9   AAIS6----1N----  AAIS6----3A----        1024
10  PDFS3----------  ClFS3----------        1025
11  AANP6----1A----  CrNP6----------        1026
12  PSZS6-P1-------  PSZS6FS3-------        1027
13  PDFS6----------  AAFS6----3A----        1028
14             1017             1028        1029
15  PE--4----------  P1ZS1FS3-------        1030
16  AAFS7----1N----  AUFS7M---------        1031
17             1018             1031        1032
18  ClFS6----------  AAFS6----1N----        1033
19  PZXP7----------  AAIP7----1N----        1034